## (%) wildcard

In [1]:
import mysql.connector

In [2]:
mydb = mysql.connector.connect(host="localhost",
                               user="ZenithieR",
                               passwd="1256",
                               database = "mydatabase")
mycursor = mydb.cursor()

In [4]:
sql = "SELECT * FROM customer WHERE address LIKE '%way%'"
mycursor.execute(sql)
myresult = mycursor.fetchall()
for x in myresult:
    print(x)

('Susan', 'One way 98', 9)
('Viola', 'Sideway 1633', 14)

## Prevent SQL Injection

In [5]:
import mysql.connector

In [6]:
mydb = mysql.connector.connect(host="localhost",
                               user="ZenithieR",
                               passwd="1256",
                               database = "mydatabase")
mycursor = mydb.cursor()

In [10]:
mycursor = mydb.cursor()

sql = "SELECT * FROM customer WHERE address = %s"
adr = ("Yellow Garden 2", )

mycursor.execute(sql, adr)

myresult = mycursor.fetchall()

for x in myresult:
  print(x)

('Vicky', 'Yellow Garden 2', 10)