In [1]:
import mysql.connector

In [2]:
mydb = mysql.connector.connect(host="localhost",
                               user ="ZenithieR",
                               passwd="1256",
                               database = "mydatabase")
mycursor = mydb.cursor()

In [4]:
sql = "INSERT INTO customer (name, address) VALUES (%s, %s)"
val = ("John","Delhi 6")
mycursor.execute(sql, val)

In [5]:
mydb.commit()

In [6]:
print(mycursor.rowcount, "record inserted")

1 record inserted

In [8]:
sql = "INSERT INTO customer (name, address) VALUES (%s, %s)"
val = [
  ('Peter', 'Lowstreet 4'),
  ('Amy', 'Apple st 652'),
  ('Hannah', 'Mountain 21'),
  ('Michael', 'Valley 345'),
  ('Sandy', 'Ocean blvd 2'),
  ('Betty', 'Green Grass 1'),
  ('Richard', 'Sky st 331'),
  ('Susan', 'One way 98'),
  ('Vicky', 'Yellow Garden 2'),
  ('Ben', 'Park Lane 38'),
  ('William', 'Central st 954'),
  ('Chuck', 'Main Road 989'),
  ('Viola', 'Sideway 1633')
]


mycursor.executemany(sql, val)
mydb.commit()
print(mycursor.rowcount, "record inserted")

13 record inserted

In [10]:
sql = "INSERT INTO customer (name, address) VALUES (%s, %s)"
val = ("Michelle", "Blue Village")
mycursor.execute(sql, val)

mydb.commit()
print("1 record inserted, ID: ", mycursor.lastrowid)

1 record inserted, ID:  15