In [1]:
import mysql.connector

In [2]:
mydb = mysql.connector.connect(host='localhost',
                               user='ZenithieR',
                               passwd='1256',
                               database='mydatabase')
mycursor = mydb.cursor()

In [3]:
mycursor.execute("select * from customer")
myresult= mycursor.fetchall()
for x in myresult:
    print(x)

('John', 'Delhi 6', 1)
('Peter', 'Lowstreet 4', 2)
('Amy', 'Apple st 652', 3)
('Michael', 'Valley 345', 5)
('Sandy', 'Ocean blvd 2', 6)
('Betty', 'Green Grass 1', 7)
('Richard', 'Sky st 331', 8)
('Susan', 'One way 98', 9)
('Ben', 'Park Lane 38', 11)
('William', 'Central st 954', 12)
('Chuck', 'Main Road 989', 13)
('Viola', 'Sideway 1633', 14)
('Michelle', 'Blue Village', 15)

In [9]:
mydb = mysql.connector.connect(host='localhost',
                               user='ZenithieR',
                               passwd='1256',
                               database='mydatabase')
mycursor = mydb.cursor()

In [10]:
mycursor = mydb.cursor()

In [12]:
mycursor.execute("ALTER TABLE customer ADD COLUMN custid INT")

In [22]:
mycursor.execute("UPDATE customer SET custid=101 WHERE id=1")

In [23]:
mycursor.execute("SELECT * FROM customer")
myresult = mycursor.fetchall()
for x in myresult:
    print(x)

('John', 'Delhi 6', 1, 101)
('Peter', 'Lowstreet 4', 2, None)
('Amy', 'Apple st 652', 3, None)
('Michael', 'Valley 345', 5, None)
('Sandy', 'Ocean blvd 2', 6, None)
('Betty', 'Green Grass 1', 7, None)
('Richard', 'Sky st 331', 8, None)
('Susan', 'One way 98', 9, None)
('Ben', 'Park Lane 38', 11, None)
('William', 'Central st 954', 12, None)
('Chuck', 'Main Road 989', 13, None)
('Viola', 'Sideway 1633', 14, None)
('Michelle', 'Blue Village', 15, None)

In [ ]:
mycursor.execute("UPDATE ")

In [24]:
len(myresult)

13

In [32]:
count=100
for i in range(len(myresult)+3):
    mycursor.execute("UPDATE customer SET custid={} WHERE id={}".format(count+i, i))
    mydb.commit()

In [33]:
mydb = mysql.connector.connect(host='localhost',
                               user='ZenithieR',
                               passwd='1256',
                               database='mydatabase')
mycursor = mydb.cursor()

In [34]:
mycursor = mydb.cursor()

In [35]:
mycursor.execute("SELECT * FROM customer")
myresult = mycursor.fetchall()
for i in myresult:
    print(i)

('John', 'Delhi 6', 1, 101)
('Peter', 'Lowstreet 4', 2, 102)
('Amy', 'Apple st 652', 3, 103)
('Michael', 'Valley 345', 5, 105)
('Sandy', 'Ocean blvd 2', 6, 106)
('Betty', 'Green Grass 1', 7, 107)
('Richard', 'Sky st 331', 8, 108)
('Susan', 'One way 98', 9, 109)
('Ben', 'Park Lane 38', 11, 111)
('William', 'Central st 954', 12, 112)
('Chuck', 'Main Road 989', 13, 113)
('Viola', 'Sideway 1633', 14, 114)
('Michelle', 'Blue Village', 15, 115)

In [31]:
len(myresult)

13

### Create New Table

In [36]:
mydb = mysql.connector.connect(host='localhost',
                               user='ZenithieR',
                               passwd='1256',
                               database='mydatabase')
mycursor = mydb.cursor()

In [37]:
mycursor = mydb.cursor()

In [38]:
mycursor.execute("CREATE TABLE employee (empid INT, Name VARCHAR(255))")

In [42]:
mydb = mysql.connector.connect(host='localhost',
                               user='ZenithieR',
                               passwd='1256',
                               database='mydatabase')
mycursor = mydb.cursor()

In [43]:
mycursor = mydb.cursor()

In [48]:
mycursor.execute("SHOW TABLES")
for x in mycursor:
    print(x)

('customer',)
('employee',)

In [49]:
mycursor.execute("SELECT * FROM employee")
myresult = mycursor.fetchall()
for x in myresult:
    print(x)

In [50]:
sql = "INSERT INTO employee (empid, Name) VALUES(%s, %s)"
val = ('101','Joun')
mycursor.execute(sql, val)
mydb.commit()

In [52]:
sql = "INSERT INTO employee (empid, Name) VALUES(%s, %s)"
val = (102,'Zoun')
mycursor.execute(sql, val)
mydb.commit()

In [54]:
sql = "INSERT INTO employee (empid, Name) VALUES(%s, %s)"
val = [(103,'Hary'),
       (104, 'Stephen'),
       (105, 'Joy'),
       (106, 'Susan'),
       (107, 'Clerk'),
       (108, 'Abbey'),
       (109, 'Mandy'),
       (115, 'Octavia')]
mycursor.executemany(sql, val)
mydb.commit()

In [55]:
mycursor.execute("select * from employee")
myresult = mycursor.fetchall()
for x in myresult:
    print(x)

(101, 'Joun')
(102, 'Zoun')
(103, 'Hary')
(104, 'Stephen')
(105, 'Joy')
(106, 'Susan')
(107, 'Clerk')
(108, 'Abbey')
(109, 'Mandy')
(115, 'Octavia')

# Joining the Table

# INNER JOIN

In [56]:
mydb = mysql.connector.connect(host='localhost',
                               user='ZenithieR',
                               passwd='1256',
                               database='mydatabase')
mycursor = mydb.cursor()

In [57]:
mycursor = mydb.cursor()

In [58]:
sql = "SELECT \
  customer.name AS user, \
  employee.Name AS Contactor \
  FROM customer \
  INNER JOIN employee ON customer.custid = employee.empid"

In [59]:
mycursor.execute(sql)

In [61]:
for x in mycursor:
    print(x)

('Peter', 'Zoun')
('Amy', 'Hary')
('Michael', 'Joy')
('Sandy', 'Susan')
('Betty', 'Clerk')
('Richard', 'Abbey')
('Susan', 'Mandy')
('Michelle', 'Octavia')

# RIGHT JOIN

In [85]:
mydb = mysql.connector.connect(host='localhost',
                               user='ZenithieR',
                               passwd='1256',
                               database='mydatabase')
mycursor = mydb.cursor()

In [86]:
mycursor = mydb.cursor()

In [87]:
sql = "SELECT \
  customer.name AS user, \
  employee.Name AS Contactor \
  FROM customer \
  RIGHT JOIN employee ON customer.custid = employee.empid"

In [88]:
mycursor.execute(sql)

In [89]:
for x in mycursor:
    print(x)

('John', 'Joun')
('Peter', 'Zoun')
('Amy', 'Hary')
('Michael', 'Joy')
('Sandy', 'Susan')
('Betty', 'Clerk')
('Richard', 'Abbey')
('Susan', 'Mandy')
('Michelle', 'Octavia')
(None, 'Stephen')

# LEFT JOIN

In [69]:
mydb = mysql.connector.connect(host='localhost',
                               user='ZenithieR',
                               passwd='1256',
                               database='mydatabase')
mycursor = mydb.cursor()

In [70]:
mycursor = mydb.cursor()

In [71]:
sql = "SELECT \
  customer.name AS user, \
  employee.Name AS Contactor \
  FROM customer \
  LEFT JOIN employee ON customer.custid = employee.empid"

In [72]:
mycursor.execute(sql)

In [73]:
for x in mycursor:
    print(x)

('John', 'Joun')
('Peter', 'Zoun')
('Amy', 'Hary')
('Michael', 'Joy')
('Sandy', 'Susan')
('Betty', 'Clerk')
('Richard', 'Abbey')
('Susan', 'Mandy')
('Michelle', 'Octavia')
('Ben', None)
('William', None)
('Chuck', None)
('Viola', None)