In [1]:
import mysql.connector

In [3]:
mydb = mysql.connector.connect(host='localhost',
                               user='ZenithieR',
                               passwd='1256',
                               database='mydatabase')
mycursor = mydb.cursor()

In [4]:
sql = "SELECT * FROM customer LIMIT 5"
mycursor.execute(sql)
myresult = mycursor.fetchall()

In [5]:
for x in myresult:
    print(x)

('John', 'Delhi 6', 1)
('Peter', 'Lowstreet 4', 2)
('Amy', 'Apple st 652', 3)
('Michael', 'Valley 345', 5)
('Sandy', 'Ocean blvd 2', 6)

## OFFSET

In [6]:
mydb = mysql.connector.connect(host='localhost',
                               user='ZenithieR',
                               passwd='1256',
                               database='mydatabase')
mycursor = mydb.cursor()

In [7]:
# offset = 2: print data from 3rd position
sql = "select * from customer limit 5 offset 2"
mycursor.execute(sql)
myresult = mycursor.fetchall()

In [8]:
for x in myresult:
    print(x)

('Amy', 'Apple st 652', 3)
('Michael', 'Valley 345', 5)
('Sandy', 'Ocean blvd 2', 6)
('Betty', 'Green Grass 1', 7)
('Richard', 'Sky st 331', 8)