In [1]:
import mysql.connector

In [21]:
mydb = mysql.connector.connect(host='localhost',
                               user = "ZenithieR",
                               passwd = '1256',
                               database='mydatabase')
mycursor = mydb.cursor()

In [5]:
mycursor.execute("SELECT * from customer")
myresult = mycursor.fetchall()
for x in myresult:
    print(x)

('John', 'Delhi 6', 1)
('Peter', 'Lowstreet 4', 2)
('Amy', 'Apple st 652', 3)
('Hannah', 'Mountain 21', 4)
('Michael', 'Valley 345', 5)
('Sandy', 'Ocean blvd 2', 6)
('Betty', 'Green Grass 1', 7)
('Richard', 'Sky st 331', 8)
('Susan', 'One way 98', 9)
('Vicky', 'Yellow Garden 2', 10)
('Ben', 'Park Lane 38', 11)
('William', 'Central st 954', 12)
('Chuck', 'Main Road 989', 13)
('Viola', 'Sideway 1633', 14)
('Michelle', 'Blue Village', 15)

In [6]:
myresult

[('John', 'Delhi 6', 1),
 ('Peter', 'Lowstreet 4', 2),
 ('Amy', 'Apple st 652', 3),
 ('Hannah', 'Mountain 21', 4),
 ('Michael', 'Valley 345', 5),
 ('Sandy', 'Ocean blvd 2', 6),
 ('Betty', 'Green Grass 1', 7),
 ('Richard', 'Sky st 331', 8),
 ('Susan', 'One way 98', 9),
 ('Vicky', 'Yellow Garden 2', 10),
 ('Ben', 'Park Lane 38', 11),
 ('William', 'Central st 954', 12),
 ('Chuck', 'Main Road 989', 13),
 ('Viola', 'Sideway 1633', 14),
 ('Michelle', 'Blue Village', 15)]

In [7]:
mycursor.execute("SELECT name, address FROM customer")
myresult = mycursor.fetchall()
for x in myresult:
    print(x)

('John', 'Delhi 6')
('Peter', 'Lowstreet 4')
('Amy', 'Apple st 652')
('Hannah', 'Mountain 21')
('Michael', 'Valley 345')
('Sandy', 'Ocean blvd 2')
('Betty', 'Green Grass 1')
('Richard', 'Sky st 331')
('Susan', 'One way 98')
('Vicky', 'Yellow Garden 2')
('Ben', 'Park Lane 38')
('William', 'Central st 954')
('Chuck', 'Main Road 989')
('Viola', 'Sideway 1633')
('Michelle', 'Blue Village')

Before this execute mydb = mysql.connector.connect(.......) statement

In [19]:
mycursor = mydb.cursor()
mycursor.execute("SELECT * FROM customer")
myresult = mycursor.fetchone()
print(myresult)

('John', 'Delhi 6', 1)

Before this execute mydb = mysql.connector.connect(.......) statement

In [22]:
mycursor.execute("SHOW TABLES")
for x in mycursor:
    print(x)

('customer',)
('customer1',)