In [1]:
import mysql.connector

In [3]:
mydb = mysql.connector.connect(host='localhost',
                               user = 'ZenithieR',
                               passwd='1256',
                               database='mydatabase')
mycursor=mydb.cursor()

In [4]:
sql = "UPDATE customer SET address = 'Canyon 123' WHERE address = 'Valley 345'"
mycursor.execute(sql)

In [5]:
mydb.commit()

In [6]:
print(mycursor.rowcount, " row affected")

1  row affected

## Prevention

In [7]:
mydb = mysql.connector.connect(host='localhost',
                               user = 'ZenithieR',
                               passwd='1256',
                               database='mydatabase')
mycursor=mydb.cursor()

In [8]:
sql = "UPDATE customer SET address = %s WHERE address = %s"
val = ("Valley 345", "Canyon 123")

mycursor.execute(sql, val)

mydb.commit()

print(mycursor.rowcount, "record(s) affected")

1 record(s) affected